.modal-cart__items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 20rem;
  overflow: auto;
}

.modal-cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.modal-cart__actions {
  text-align: right;
}

.modal-cart__actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8a2b06;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.modal-cart__actions button:hover,
.modal-cart__actions button:active {
  background-color: #5a1a01;
  border-color: #5a1a01;
  color: white;
}

.modal-cart__actions .modal-cart__button--alt {
  color: #8a2b06;
}

.modal-cart__actions .modal-cart__button {
  background-color: #8a2b06;
  color: white;
}
